.buttonContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: fit-content;
}

.currentIdx {
  width: fit-content;
  text-align: center;
}

.mainContentContainer {
  display: flex;
  align-items: stretch;
  padding: 2rem;
}

.buttonPanelContainer {
  display: flex;
  flex-direction: column;
}
