.modal :global(.modal-content) {
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 8px;
  overflow: hidden !important;
}

.modalBody {
  overflow: hidden !important;
  padding: 0 !important;
  height: 80vh;
  display: flex;
  flex-direction: column;
}


.imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
}

.imageCard {
  width: 120px;
  text-align: center;
}